*{
    margin: 0;
    padding: 0;
}
body
{
    background-color:#fef6e4 ;
}

.navbar{
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    background-color:#001858;
    position: fixed;
    
}
.shirtpng{
   margin: 5px 40px;
   height: 60px;

}
.nav-ele{
  margin: 20px 30px;
  font-family: cursive;
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;
}
.input{
    margin-top: 20px;
    margin-left: 130px;
    height: 24px;
    width: 250px;
    border-radius: 5px;
    border: 2px solid #4d0000;

}
.input::placeholder{
    text-align: center;
    font-family: cursive;

}
.login{
    margin-top: 20px;
    margin-left: 60px;
    font-family: cursive;
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
}
.tittle
{
    background-color:#f3d2c1 ;
    height: 350px;
    width:2090px;
    margin-top: 10px;
}
.class
{
    

    
    
}




















































 